*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color : dimgrey;
    /*font-family: comic;*/
    background-color: #C57153;
}

@font-face {
    src: url('../font/orange juice 2.0.ttf');
    font-family: comic;
}

.logo {
    cursor: pointer;
    width: 200px;
}

.navbar{
    height: 100px;
    background-color: lightgray;
    justify-content: flex-start;
}

a.nav-link {
    color: yellow;
}

.row-section{
    background: #EFBDAB;
}

button {
    margin-left: 20px;
    padding: 9px 25px;
    background-color: yellow;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: grey;
}

form {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
    height: 100%;
    justify-content: center;
}





