:root {
  primary: #c57153;
  secondary: #ffc636;
  third: #a76249;
  fourth: rgb(194, 191, 191);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(fourth);
  /*font-family: comic;*/
  background-color: var(primary);
}

@font-face {
  src: url("../font/orange juice 2.0.ttf");
  font-family: comic;
}

.logo {
  width: 200px;
}

.navbar {
  height: 100px;
  background-color: var(primary);
  justify-content: space-between;
}

NavItem {
  margin-left: auto;
}

.nav-link {
  display: inline;
}

a {
  color: var(secondary);
  display: inline-block;
  padding: 0px 20px;
  list-style: none;
}

a:hover {
  color: var(fourth);
}

button:hover {
  background-color: var(fourth);
}

.container {
  margin-right: auto;
  margin-left: auto;
}

form {
  background-color: var(third);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 30px 0;
}

.radio {
  display: inline-block;
  box-sizing: border-box;
  padding-right: 5%;
  margin-left: 1.25rem;
}

.formTitle {
  text-align: center;
  margin-bottom: 1em;
}

input.radioAge {
  justify-content: center;
}

.btnLogin {
  background: none;
  border: 2px solid var(secondary);
  color: var(secondary);
  padding: 6px 12px;
  border-radius: 20px;
  text-transform: uppercase;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
  display: inline-block;
  font-size: 1em;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
textarea,
select.form-control {
  background: rgba(255, 255, 255, 0.05);
  padding: 10px 16px;
  border-radius: 20px;
  border: 2px solid var(secondary);
  font-size: 1em;
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#comDesobei {
  width: 100%;
}

#tabDesobei {
  margin: auto;
  width: 70% !important;
}

td,
th {
  background-color: var(primary);
  text-align: left;
  padding: 8px;
}
/* top-left border-radius */
table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}
