<!DOCTYPE html>
<html>
<head>
    <meta lang="fr">
    <meta charset="UTF-8">
    <link rel="favicon" href="../assets/img/favicon.ico" type="image/ico" sizes="16x16">
    <title>{% block title %}Jeu Dezobeyi{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
